###Тема “Вычисления с помощью Numpy”

###Задание 1

In [1]:
import numpy as np

In [39]:
a = np.array([[1, 2, 3, 3, 1], [6, 8, 11, 10, 7]]).transpose()

In [41]:
mean_a=np.mean(a, axis=0)
print(mean_a)

[2.  8.4]

###Задание 2

In [42]:
 a_centered=np.subtract(mean_a,a)
 print(a_centered)

[[ 1.   2.4]
 [ 0.   0.4]
 [-1.  -2.6]
 [-1.  -1.6]
 [ 1.   1.4]]

###Задание 3

In [46]:
a_centered_sp = a_centered.T[0] @ a_centered.T[1]
a_centered_sp

8.0

In [47]:
a_centered_sp / (a_centered.shape[0] - 1)

2.0

###Тема “Работа с данными в Pandas”

### Задание 1

In [48]:
import pandas as pd

In [51]:
authors = pd.DataFrame({'author_id':[1, 2, 3], 
                        'author_name':['Тургенев', 'Чехов', 'Островский']}, 
                       columns=['author_id', 'author_name'])
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [52]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
                     'price':[450, 300, 350, 500, 450, 370, 290]}, 
                    columns=['author_id', 'book_title', 'price'])
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

###Задание 2

In [62]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

###Задание 3

In [61]:
top5 = authors_price.nlargest(5, 'price')
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

###Задание 4

In [59]:
authors_stat = authors_price['author_name'].value_counts()
authors_stat

Тургенев      3
Чехов         2
Островский    2
Name: author_name, dtype: int64

In [60]:
authors_stat = authors_price.groupby('author_name').agg({'price':['min', 'max', 'mean']})
authors_stat = authors_stat.rename(columns={'min':'min_price', 'max':'max_price', 'mean':'mean_price'})
authors_stat

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургенев          300       450  366.666667
Чехов             450       500  475.000000